<h1><%= @promo_details['title'] %></h1>
<p>Description: <%= @promo_details['description'] %></p>
<p>Price: <%= @promo_details['price'] %></p>
<p>Original Price: <%= @promo_details['original_price'] %></p>