<h1><%= @promo_details['title'] %></h1>
<p class="description">Description: <%= @promo_details['description'] %></p><br>
<div class="current-price">
  <p class="inner-price">Price: <%= @promo_details['price'] %></p>
</div><br>
<div class="outer-old-price">
  <p class="old-price">Original Price: <%= @promo_details['original_price'] %></p>
</div><br><br>
<div class="promo-detail-nav">
  <a href="/promotions"><div class="glyphicon glyphicon-chevron-left"><div>Back</div></div></a>
</div>

