<!DOCTYPE html>
<html>
<head>
  <title>Venice</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/assets/small-logo.png" alt="small logo" id="nav-logo"></a>
    </div>
  </nav>
  <%= yield %>

</body>
</html>
